In [36]:
## EMAIL SPAM DETECTION

In [37]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import TfidfVectorizer

In [38]:
## Load the dataset
data=pd.read_csv("C:\\Users\\91951\\Downloads\\spam.csv",encoding='latin-1')

In [59]:
df=data.where((pd.notnull(df)),'')
df=df.iloc[:,:2]

In [60]:
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [61]:
df.tail()

        v1                                                 v2
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

In [62]:
y=df['v1']

In [63]:
y

0        ham
1        ham
2       spam
3        ham
4        ham
        ...
5567    spam
5568     ham
5569     ham
5570     ham
5571     ham
Name: v1, Length: 5572, dtype: object

In [64]:
y=y.map({'ham':1,'spam':0})
y

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: v1, Length: 5572, dtype: int64

In [65]:
x=df['v2']
x

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: v2, Length: 5572, dtype: object

In [66]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [71]:
x_test.shape

(1115,)

In [70]:
x_train.shape

(4457,)

In [72]:
## feature extraction
feature_extraction=TfidfVectorizer(min_df=1,stop_words='english',lowercase='True')
x_train_features=feature_extraction.fit_transform(x_train)
x_test_features=feature_extraction.transform(x_test)

In [73]:
y_train=y_train.astype('int')
y_test=y_test.astype('int')

In [78]:
model=LogisticRegression()
model.fit(x_train_features,y_train)

LogisticRegression()

In [79]:
## Prediction on training data
from sklearn.metrics import accuracy_score
predict_train=model.predict(x_train_features)
accuracy_train=accuracy_score(y_train,predict_train)
print(accuracy_train)

0.9699349338119811

In [80]:
## Prediction on test data
predict_test=model.predict(x_test_features)
accuracy_test=accuracy_score(y_test,predict_test)
print(accuracy_test)

0.9560538116591928

In [81]:
input_your_sms=[""]
input_data_features=feature_extraction.transform(input_your_sms)
prediction=model.predict(input_data_features)
print(prediction)

[1]